{% extends "P4MCoreBundle:Core/Template:wall-template.html.twig" %}

{% block headTitle %}{{parent()}} - {% if wall is defined %}Edit - {{wall.name}}{%else%}Create Strew{% endif%}{%endblock%}

{% block actionBar %}
<form action="" id="form-wall-edit" method="post" {{ form_enctype(form) }} >
{{parent()}}
</form>
{%endblock%}

{% block actionBarMenu %}
    {% include "P4MCoreBundle:Menu/ActionBar/Wall-Edit:action-bar-wall-edit-menu.html.twig"%}
{% endblock%}
{% block actionBarAction %}
    {% include "P4MCoreBundle:Menu/ActionBar/Wall-Edit:action-bar-wall-edit-action.html.twig"%}
{% endblock%}
{% block pagination %}
{#{% include "P4MCoreBundle:Wall:pagination.html.twig" %}#}
{% endblock %}
