/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters.yml.dist
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/composer.phar
/vendor/
/web/bundles/
/web/images/posts
/web/images/uploads
.idea
/web/assets

/nbproject/private/