<div style="display: none;" class="pagination" role="navigation">
 <span>Page 1 of {{nombrePages}}</span><span class="current">1</span>   
 {% set route = app.request.attributes.get('_route')%} 
{% for i in 2..nombrePages %}
   
    {% if route == 'p4m_core_showWall' or route=="p4m_core_showWallPosts"%}
         {%set postPath = path('p4m_core_showWall', {'wallSlug': wall.slug , 'page': i}) %}
    {%elseif route == 'p4m_core_showHistory' %}
        {%set postPath = path('p4m_core_showHistory', {'page': i}) %}
    {%elseif route == 'p4m_social_profile' %}
        {%set postPath = path('p4m_social_profile', {username : userDisplayed.username,'page': i}) %}
    {%endif%}
    
    <a href="{{postPath~'?'~filters}}" class="inactive">{{i}}</a>
    
{% endfor %}
</div>