<div id="section-cover-block">
<header class="cover-block press-cover">

    
    <div class="cover-cover-link" style="display:block;opacity: 1;"><i class="glyphicon circle_question_mark"></i></div>

</header>
</div>