{% extends "P4MBackofficeBundle:pages/notification/notification-line:notification-line.html.twig" %}


{% block text %}
    {{ '<a href="%pathOne%">%username%</a> commented your <a href="%pathTwo%">post</a>'|trans({
        '%pathOne%': path('p4m_social_profile',{username:notification.comment.user.username}),
        '%username%': notification.comment.user.username,
        '%pathTwo%': path('p4m_core_post',{postSlug:notification.comment.post.slug})}, 'Backoffice')}}
{% endblock %}
