<a class="main-button-link"  href="{{path('fos_user_security_login')}}">{{ 'Log in'|trans({}, 'menu')}}</a>
{#<a class="main-button-link" id="join-beta" href="#beta-coming-soon"  data-toggle="modal" data-target="#modal-join-us">Request an access!</a>#}
<div class="clear"></div>