<div class="modal fade pfm-modal" id="modal-deletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Post Deleted'|trans({}, 'modal')}}</h4>
            </div>

            <div class="modal-body">
                {{ 'You add has been cancelled'|trans({}, 'modal') }}
            </div>

            <div class="modal-footer">

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
