{% extends "P4MBackofficeBundle::my-account.html.twig" %}


{% block page %}

<h2 class="form-title">Edit your informations</h2>
<form method="post" enctype="multipart/form-data"  class="form-horizontal" role="form" action="">
    <div class="explanation-zone"></div>

        <div id="p4m_userbundle_user">

            <div class="form-group">
                <label for="currentPassword" class="col-sm-20 control-label form-field-title required">Current password</label>

                <div class="col-sm-30">
                   <input class="form-control"  type="password" id="currentPassword" name="currentPassword" required="required" value="" class="form-field-input">
                   <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="form-group">
                <label for="{{form.plainPassword.first.vars.id}}"  class="col-sm-20 control-label required  form-field-title">New password</label>

                <div class="col-sm-30">
                    {{form_widget(form.plainPassword.first,{attr : {class:'form-control'} })}}<br />
                    {{form_widget(form.plainPassword.second,{attr : {class:'form-control'} })}}<br />
                    <p id="password-match"><small>Password are similar</small></p>
                    <p id="password-no-match"><small>Password are not similar</small></p>
                    <div class="clear"></div>
                </div>
            </div>


            {{form_rest(form)}}



            <button class="primary" type="submit">Send</button>

        </div>
</form>

{% endblock %}