/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-févr.-2015, 14:51:17
    Author     : Jona
*/

body{padding:0;margin:0;}
#get_tuto{cursor:pointer;}
#tuto_page{position:fixed;top:0;left:0;background:rgba(0,0,0,.8);opacity:1;color:#FFFFFF;z-index:999;
padding:0;margin:0;width:100%;height:100%;display:none;overflow:hidden;}
#tuto_page a {color:#FFFFFF;text-decoration:underline;}
#tuto_page a:hover {text-decoration:none;}
#tuto_wrap{width:100%;margin: 0 auto;padding-top:10%;}
.tuto_col{float:left;width:13.6%;margin-right:2.5%;}
.tuto_col:nth-last-child(6){margin-left:3%;}
.tuto_col h1{font-size: 20px;font-family:"pfm-medium";color:#FFF;}
.button_tuto {text-align:center;padding-top: 5%;}
button.tuto {opacity: 1;font-family: "pfm-medium";color: #FFFFFF; background: #ED3237;font-weight:bold;
border: 0px none; padding: 5px 30px;text-align: center;cursor: pointer;font-size: 14px;line-height: 20px;margin-bottom:5%;}
button.tuto:hover{background:#EB181E;}
.clear_tuto{clear:both;}

@media screen and (max-width:1024px) { 
.tuto_col{float:left;width:28.9%;margin-right:3.4%;margin-bottom:5%;}
.tuto_col:nth-last-child(6),.tuto_col:nth-last-child(3){margin-left:3%;}
}

@media screen and (max-width:650px) { 
.tuto_col{float:left;width:44.5%;margin-right:3.4%;}
.tuto_col:nth-last-child(6),.tuto_col:nth-last-child(4),.tuto_col:nth-last-child(2) {margin-left:4%;}
.tuto_col:nth-last-child(3){margin-left:0;}
}

@media screen and (max-width:400px) { 
#tuto_page {overflow:visible;}
#tuto_wrap{padding-top:2%;}
.tuto_col{float:left;width:94%;padding:0 2% 0 4%;}
.tuto_col:nth-last-child(6),.tuto_col:nth-last-child(4),.tuto_col:nth-last-child(2) {margin-left:0;}
.clear_tuto {display:none;}
}


#svgContainer {
z-index: -10;
position:absolute;
/*background-color:silver;
opacity: 0.5;*/
height:500px;width:100%;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-févr.-2015, 14:51:17
    Author     : Jona
*/

body{padding:0;margin:0;}
#get_tuto{cursor:pointer;}
#tuto_page{position:fixed;top:0;left:0;background:rgba(0,0,0,.8);opacity:1;color:#FFFFFF;z-index:999;
padding:0;margin:0;width:100%;height:100%;display:none;overflow:hidden;}
#tuto_page a {color:#FFFFFF;text-decoration:underline;}
#tuto_page a:hover {text-decoration:none;}
#tuto_wrap{width:100%;margin: 0 auto;padding-top:10%;}
.tuto_col{float:left;width:13.6%;margin-right:2.5%;}
.tuto_col:nth-last-child(6){margin-left:3%;}
.tuto_col h1{font-size: 20px;font-family:"pfm-medium";color:#FFF;}
.button_tuto {text-align:center;padding-top: 5%;}
button.tuto {opacity: 1;font-family: "pfm-medium";color: #FFFFFF; background: #ED3237;font-weight:bold;
border: 0px none; padding: 5px 30px;text-align: center;cursor: pointer;font-size: 14px;line-height: 20px;margin-bottom:5%;}
button.tuto:hover{background:#EB181E;}
.clear_tuto{clear:both;}

@media screen and (max-width:1024px) { 
.tuto_col{float:left;width:28.9%;margin-right:3.4%;margin-bottom:5%;}
.tuto_col:nth-last-child(6),.tuto_col:nth-last-child(3){margin-left:3%;}
}

@media screen and (max-width:650px) { 
.tuto_col{float:left;width:44.5%;margin-right:3.4%;}
.tuto_col:nth-last-child(6),.tuto_col:nth-last-child(4),.tuto_col:nth-last-child(2) {margin-left:4%;}
.tuto_col:nth-last-child(3){margin-left:0;}
}

@media screen and (max-width:400px) { 
#tuto_page {overflow:visible;}
#tuto_wrap{padding-top:2%;}
.tuto_col{float:left;width:94%;padding:0 2% 0 4%;}
.tuto_col:nth-last-child(6),.tuto_col:nth-last-child(4),.tuto_col:nth-last-child(2) {margin-left:0;}
.clear_tuto {display:none;}
}


#svgContainer {
z-index: -10;
position:absolute;
/*background-color:silver;
opacity: 0.5;*/
height:500px;width:100%;
}