<div id="footer" role="contentinfo">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <div class="copyright-info">
                    {{ '© 2013 Copyright. All Rights Reserved.'|trans({}, 'Core')}}
                </div>
                <!-- .copyright-info -->
            </div>
            <!-- .span6 -->
            <div class="span6">
                <div class="add-info">
                    <a href="http://themeforest.net/user/ZERGE?ref=zerge">Pravda</a> Theme by <a
                            href="http://color-theme.com/">Color Theme </a>HTML Version.<br><img
                            src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/logo-s.png" alt="">
                </div>
                <!-- .add-info -->
            </div>
            <!-- .span6 -->
        </div>
        <!-- .row-fluid -->
    </div>
    <!-- .container -->
</div>
<!-- #footer -->
