<div class="container header-block">
    <div class="row-fluid top-block">
       <div class="span5 logo-block">
          <div id="logo">
              <a href="index.html"><img src="{{asset('img/design/logo.png')}}" alt="" /> PRESS<span class="white">FORMORE</span></a>
          </div>
          <!-- #logo -->
       </div>
       <!-- .span5 -->
       <div class="span7 banner-block">
          <div class="banner" role="banner">
             <a href="http://themeforest.net/user/ZERGE?ref=zerge" target="_blank"><img src="img/banner_460.jpg" alt="" /></a>
          </div>
          <!-- .banner -->
       </div>
       <!-- .span7 -->
    </div>
    <!-- .row-fluid -->
 </div>
