 <div class="container top-widgets-area">
    <div class="row-fluid">
       <div class="span12">
          <aside class="widget ct_carousel_widget">
             <!-- START CAROUSEL WIDGET -->
             <div id="carousel" class="flexslider flex-carousel ">

             <div style="overflow: hidden; position: relative;" class="flex-viewport"><ul style="width: 1400%; transition-duration: 0.6s; transform: translate3d(-885px, 0px, 0px);" class="slides">
                   <li style="width: 285px; float: left; display: block;">
                      <div class="carousel-thumb">
                         <a style="border: 0px none;" href="http://html.color-theme.com/pravda/post-image.html"><img src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/photodune-4233964-honey-m-285x190.jpg" alt="Honey"></a>
                         <span class="category-item background_green">
                         <a href="#" title="View all posts in Food">Food</a>
                         </span>
                         <div class="title-mask">
                            <span class="icon-star-empty"></span>
                            Honey			
                         </div>
                         <!-- title-mask -->
                      </div>
                      <!-- /carousel-thumb -->
                   </li>
                   <li style="width: 285px; float: left; display: block;">
                      <div class="carousel-thumb">
                         <a style="border: 0px none;" href="http://html.color-theme.com/pravda/post-image.html"><img src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/Tiny-lobster-285x190.jpg" alt="Tiny lobster"></a>
                         <span class="category-item background_green">
                         <a href="#" title="View all posts in Food">Food</a>
                         </span>
                         <div class="title-mask">
                            <span class="icon-star-empty"></span>
                            Tiny lobster			
                         </div>
                         <!-- title-mask -->
                      </div>
                      <!-- /carousel-thumb -->
                   </li>
                   <li style="width: 285px; float: left; display: block;">
                      <div class="carousel-thumb">
                         <a style="border: 0px none;" href="http://html.color-theme.com/pravda/post-image.html"><img src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/round-house-285x190.jpg" alt="Round house"></a>
                         <span class="category-item background_black">
                         <a href="#" title="View all posts in Gallery">Gallery</a>
                         </span>
                         <div class="review-box">
                            <span title="Review Score: 3.5" class="red"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half"></i></span>
                         </div>
                         <!-- .review-box -->
                         <div class="title-mask">
                            <span class="icon-star-empty"></span>
                            Round house			
                         </div>
                         <!-- title-mask -->
                      </div>
                      <!-- /carousel-thumb -->
                   </li>
                   <li style="width: 285px; float: left; display: block;">
                      <div class="carousel-thumb">
                         <a style="border: 0px none;" href="http://html.color-theme.com/pravda/post-image.html"><img src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/Digital-Infographic-285x190.jpg" alt="Digital Infographic"></a>
                         <div class="video vimeo"><a href="#" title="Watch Vimeo Video"><i class="icon-play"></i></a></div>
                         <span class="category-item  background_black">
                         <a href="#" title="View all posts in Review">Review</a>
                         </span>
                         <div class="review-box">
                            <span title="Review Score: 3.5" class="blue"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half"></i></span>
                         </div>
                         <!-- .review-box -->
                         <div class="title-mask">
                            <span class="icon-star-empty"></span>
                            Digital Infographic			
                         </div>
                         <!-- title-mask -->
                      </div>
                      <!-- /carousel-thumb -->
                   </li>
                   <li style="width: 285px; float: left; display: block;">
                      <div class="carousel-thumb">
                         <a style="border: 0px none;" href="http://html.color-theme.com/pravda/post-image.html"><img src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/Lavender-infused-cupcakes-285x190.jpg" alt="Lavender infused cupcakes"></a>
                         <span class="category-item background_green">
                         <a href="#" title="View all posts in Food">Food</a>
                         </span>
                         <div class="title-mask">
                            <span class="icon-star-empty"></span>
                            Lavender infused cupcakes			
                         </div>
                         <!-- title-mask -->
                      </div>
                      <!-- /carousel-thumb -->
                   </li>
                   <li style="width: 285px; float: left; display: block;">
                      <div class="carousel-thumb">
                         <a style="border: 0px none;" href="http://html.color-theme.com/pravda/post-image.html"><img src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/Beautiful-couple-285x190.jpg" alt="Beautiful couple"></a>
                         <span class="category-item background_pink">
                         <a href="http://html.color-theme.com/pravda/beauty.html" title="View all posts in Beauty">Beauty</a>
                         </span>
                         <div class="title-mask">
                            <span class="icon-star-empty"></span>
                            Beautiful couple			
                         </div>
                         <!-- title-mask -->
                      </div>
                      <!-- /carousel-thumb -->
                   </li>
                   <li style="width: 285px; float: left; display: block;">
                      <div class="carousel-thumb">
                         <a style="border: 0px none;" href="http://html.color-theme.com/pravda/post-image.html"><img src="Pravda%20_%20Retina%20Responsive%20HTML%20Version_fichiers/Announcing-Microlancer-285x190.jpg" alt="Envato Microlancer Final v. 4"></a>
                         <div class="video youtube"><a href="#" title="Watch Youtube Video"><i class="icon-play"></i></a></div>
                         <span class="category-item background_black">
                         <a href="#" title="View all posts in Video">Video</a>
                         </span>
                         <div class="title-mask">
                            <span class="icon-star-empty"></span>
                            Envato Microlancer Final v. 4			
                         </div>
                         <!-- title-mask -->
                      </div>
                      <!-- /carousel-thumb -->
                   </li>
                </ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"><i class="icon-angle-left"></i></a></li><li><a class="flex-next" href="#"><i class="icon-angle-right"></i></a></li></ul></div>
             <!-- /flexslider -->
          </aside>
       </div>
       <!-- /span12 -->	
    </div>
    <!-- /row-fluid -->
 </div>
 <!-- .container -->
 <!-- END HOMEPAGE TOP WIDGETS AREA -->