<li class="action-bar-item">
    <a class="action-bar-link ajax_form_force" data-toggle="action-bar" data-target="#section-post" href="#post" title="Filter on contents" data-ajaxTarget="action-bar-filters-form">
            <span class="action-bar-icon glyphicon file"></span>
    </a>
</li>

<li class="action-bar-item">
      <a class="action-bar-link ajax_form_force" data-toggle="action-bar" data-target="#section-community" href="#community" data-ajaxTarget="action-bar-filters-form-user" title="Filter on peoples">
              <span class="action-bar-icon glyphicon group"></span>
      </a>
</li>


<li class="action-bar-item">
      <a class="action-bar-link ajax_form_force" data-toggle="action-bar" data-target="#section-strews" href="#strews" data-ajaxTarget="action-bar-filters-form-strew" title="Filter on strews">
              <span class="action-bar-icon glyphicon show_thumbnails"></span>
      </a>
</li>

