<div class="welcome-block">
    <div class="container">
       <div class="row-fluid">
          <div class="span12">
             <div class="welcome-text">
                 <h1>{{ 'Category :'|trans({}, 'Core')}} <span class="red">{{category.name}}</span></h1>
                    
             </div>
             <!-- .welcome-text -->
          </div>
          <!-- /span12 -->
       </div>
       <!-- /row-fluid -->
    </div>
    <!-- .container -->
    <div class="welcome-strip">
    </div>
    <!-- .welcome-strip -->
 </div>
 <!-- .welcome-block -->