{% set user = app.security.getToken().getUser() %}


<li class="action-bar-item">
      <a class="action-bar-link content-modifier" data-toggle="action-bar" data-target="#section-filters" data-ajaxTarget="action-bar-filters-form" href="#filters" title="See the comments or add one!">
              <span class="action-bar-icon glyphicon filter"></span>
      </a>
</li>

{#<li class="action-bar-item">
  <a class="action-bar-link current-action-bar-item" data-toggle="action-bar" data-target="#section-strews" href="#strews"  title="About this post!">
                  <span class="action-bar-icon glyphicon circle_info"></span>
          </a>
  </li>#}




