<tr>
        <td>David R</td>
        <td class="center">2012/01/01</td>
        <td class="center">Member</td>
        <td class="center">
                <span class="label label-success">Active</span>
        </td>
        <td class="center">
                <a class="btn btn-success" href="#">
                        <i class="icon-zoom-in icon-white"></i>  
                        View                                            
                </a>
                <a class="btn btn-info" href="#">
                        <i class="icon-edit icon-white"></i>  
                        Edit                                            
                </a>
                <a class="btn btn-danger" href="#">
                        <i class="icon-trash icon-white"></i> 
                        Delete
                </a>
        </td>
</tr>